<mat-toolbar color="primary" #mainToolbar>
  <h1>Angular Popover Demo</h1>

  <div class="fill"></div>

  <button mat-icon-button [mdePopoverTriggerFor]="themePopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="click">
    <mat-icon>format_color_fill</mat-icon>
  </button>

  <button mat-icon-button [mdePopoverTriggerFor]="githubPopover" [mdePopoverTargetAt]="mainToolbar" mdePopoverTriggerOn="hover">
    <img src="https://uixd.co.uk/open-source-software/material-extended/demo/assets/images/github-circle-white-transparent.svg">
  </button>
</mat-toolbar>


<mde-popover #themePopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="58" mdePopoverArrowColor="#FFFFFF">
  <theme-picker></theme-picker>
</mde-popover>

<mde-popover #githubPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverOffsetX]="-16" [mdePopoverOffsetY]="-10" [mdePopoverArrowOffsetX]="18" mdePopoverArrowColor="#FFFFFF" [mdePopoverCloseOnClick]="false">
  <app-github></app-github>
</mde-popover>

<main>

  <p>
    A popover component created using Angular version 9 with the Angular CDK.
  </p>

  <section>

    <h2>Install Angular Popover Library</h2>

    <h3>
      <a href="https://www.npmjs.com/package/@material-extended/mde" target="_blank">@material-extended/mde</a>
    </h3>

    <p>
      <strong>NPM:</strong> &nbsp; <code>npm install @material-extended/mde</code>
    </p>
    <p>
      <strong>YARN:</strong> &nbsp; <code>yarn add @material-extended/mde</code>
    </p>

  </section>
</main>

